* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.navbar {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
}

.navbar-logo img {
    max-width: 175px;
    height: auto;
    margin-right: 10px;
    
}

.navbar ul {
    padding: 0;
    display: flex; 
}

.navbar li {
    list-style: none;
    display: inline;
    flex-direction: row;
    text-align: center;
    margin-right: 10px;
}

.navbar a {
    text-decoration: none;
}

.navbar a:hover {
    text-decoration: underline;
}

.first-content-img {
    background-image: url("./images/riviera.avif");
    height: 700px;
    width: 100%;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.first-content-text h1 {
   font-size: 75px;
    color: white;
    text-align: center;
    padding-top: 150px;
}

.first-content-text a {
    text-decoration: none;
    color: #0079bc;
}

.first-content-text a:hover {
    text-decoration: underline;
}

.first-content-text p {
    font-size: 45px;
    color: white;
    text-align: center;
    padding-top: 20px;
    text-decoration: none;
}

.second-content {
    display: flex;
    justify-content: center;
    max-width: 900px;
    max-height: 600px;
    margin: 0 auto;
    padding: 20px;
    height: 150px;
    font-size:medium;
    box-sizing: border-box;
    border: 1px solid rgb(211, 211, 211);
    align-items: center;
   text-align: center;
   background-color: rgb(238, 251, 255);
}

.key-image {
    height: 125px;
}

.key-button {
    color: white;
    float: right;
    margin-bottom: 80px;
    padding-bottom: 20px;
    margin-right: 10px;
    height: 40px;
    position: relative;
    bottom: 20px;
    width: auto;
    padding: 5px 30px;
    font-size: 15px;
    border: 1px solid black;
    border-radius: 25px;
    background-color: #0065a3;
}

.flex-container {
    display: flex;
    margin: zero;
}

.flex-child {
    /* flex: 1; */
    padding: 0px;
    /* border: 1px black solid; */
}

.second-text-content h1 {
    margin: 0;
    font-size: 1.2em; 
    float: left;
    margin-top: 60px;
    margin-bottom: 10px;
    padding-top: 20px;
    padding-left: 20px;
}

.second-text-content p {
    margin: 0;
    padding-left: 20px;
    font-size: 1em; 
    float: left;
    text-align: left;
    line-height: 1.4;
}


.goofy {
    height: 400px;
    width: 800px;
}


.father {
    max-height: 400px;
    width: 400px;
}

.epcot {
    max-height: 400px;
    width: 400px;
}

.img-responsive {
    max-width: 100%;
    height: 100%;
}

.bottom-content .flex-child {
    flex: 1;
}

.bottom-content {
    align-items: center;
    text-align: center;
    max-height: 400px;
}

.save-content {
    background-image: url("./images/donald.avif");
    height: 350px;
    width: 100%;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    margin-bottom: 20px;
}

.save-content-text {
    padding-top: 100px;
    padding-left: 70px;
    font-size: 24px;
    margin-bottom: 20px;
    line-height: 28px;
}

.save-content-text p {
    margin-top: 15px;
    margin-bottom: 15px;
}

.save-content-text h1 {
    font-size: 50px;
    color: white;
    margin-top: 10px;
    margin-bottom: 20px;
}

.save-content-text ul {
    padding: 0;
    margin: 0;
    margin-top: 10px;
}

.save-content-text li {
    list-style: none;
    color: white;
}

.save-content-text a {
    color: white;
}

.save-content-text a:hover {
    text-decoration: underline;
}

.sweepstakes-content {
    background-image: url("./images/cinderella.avif");
    height: 375px;
    width: 100%;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    margin-bottom: 20px;
}

.sweepstakes-content-text {
    padding-top: 75px;
    padding-left: 70px;
    font-size: 24px;
    margin-bottom: 20px;
}

.sweepstakes-content-text p {
    margin-top: 15px;
    margin-bottom: 15px;
    line-height: 1.2;
}

.sweepstakes-content-text h1 {
    font-size: 50px;
    color: white;
    margin-top: 10px;
}

.sweepstakes-content-text ul {
    padding: 0;
    margin: 0;
    margin-top: 10px;
}   

.sweepstakes-content-text li {
    list-style: none;
    color: white;
}

.sweepstakes-content-text a {
    color: white;
}

.sweepstakes-content-text a:hover {
    text-decoration: underline;
}

.benefits-header {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.top-tile {
    width: 100%;
    overflow: hidden;
}

.vacation-options {
    display: grid;
    grid-template-columns: 1fr; /* One column for all four images */
    grid-template-rows: auto auto auto; /* Three rows for the bottom images */
    gap: 0; /* No gap between grid items */
    justify-items: center; /* Center items horizontally */
    align-items: start; /* Align items to the top */

}

.vacation{
    background-image: url("./images/DVC-Homepage-Map.avif");
    background-size: cover;
    background-position: center;
    height: 500px; 
    width: 100%;
    padding-left: 20px;
    padding-top: 20px;
    margin: auto;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.vacation:hover {
    transform: scale(1.1);
    cursor: pointer;
    overflow: hidden;
}

.vaca {
    width: 60%;
    margin: auto;
    justify-content: center;
    overflow: hidden;
}


.bottom-images {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 0; 
    width: 60%;
    overflow: hidden;
  }
  

.events,
.magic,
.discover {
  background-size: cover;
  background-position: center;
  height: 400px; 
  width: 100%;
  color: white;
  font-size: 24px;
  padding-top: 20px;
  padding-left: 20px;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.events:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.magic:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.discover:hover {
    transform: scale(1.1);
    cursor: pointer;
}

/* img {
    overflow-clip-margin: content-box;
    overflow: clip;
    background: transparent;
    border: 0;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
    height: 100%;
    width: 100%;
    opacity: 1;
    transform: translateX(0) translateY(0) translateZ(0) scaleX(1.004) scaleY(1.004) scaleZ(1.004);
    transition: opacity 1s,transform 1s;
} */

.events {
    background-image: url("./images/pixar-pier-night-1x1-1.avif");
}

.magic {
    background-image: url("./images/star-wars-galaxys-edge-1x1.avif");
}

.discover {
    background-image: url("./images/familyreading.avif");
}

.disneyplus {
    display: flex;
    align-items: center;
    justify-content: center;
}

.villa-header {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 10px;
}

.villa-header a {
    text-decoration: none;
}

.villa-header a:hover {
    text-decoration: underline;
}

.villa-sub-header {
    text-align: center;
    margin-top: 20px;
    text-decoration: none;
}

.villa-info {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    max-width: 1450px;
    max-height: 450px;
  }
  
  .villa-content {
    padding: 20px;
    max-width: 35%;
    background-color: #563a6a;
    color: #fff; 
  }
  
  .villa-content h3 {
    font-size: 28px;
    margin-top: 50px;
    padding-left: 55px;
  }

.villa-content p {
    font-size: 20px;
    padding-left: 55px;
    line-height: 28px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.villa-button {
    border: 2px solid #fff;
    background-color: inherit;
    color: #fff;
    padding: 13px 25px;
    margin-left: 55px;
    font-size: 14px;
    cursor: pointer;
    margin-bottom: 10px;
    font-weight: 600;
    border-radius: 2px;
}

.villa-button:hover {
    text-decoration: underline;
}

  .villa-image {
    overflow: hidden; 
    width: 70%;
  }
  
  .villa-image img {
    width: 100%;
    height: auto; 
    display: block; 
  }

.from-our-members {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}

.member-heading {
    margin-bottom: 20px;
}


.from-our-members a {
    text-decoration: none;
    margin-top: 20px;
}

#myVid {
    width: 75%;
    height: auto;
    margin: 0 auto;
    display: block;
}

.benefits-header {
    margin-bottom: 20px;
}

.benefits-header h1 {
    margin-bottom: 20px;
}

.benefits-header a  {
    text-decoration: none;
}

.benefits-header a:hover {
    text-decoration: underline;
}

div {
    display: block;
}

.info-content {
    border: 5px solid #0079bc;
    box-sizing: border-box;
    width: 75%;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    /* display: flex; */
    
}

@media screen and (max-width: 767px) {
}

#explore {
    width: 100%;
    margin-bottom: 20px;
    list-style-type: disc;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0px;
    padding-right: 15px;
    /* border: 1px solid black;     */
}

#find-destinations {
    width: 100%;
    margin-bottom: 20px;
    list-style-type: disc;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0px;
    padding-right: 15px;
    /* border: 1px solid black;     */
}

#plan-vacations {
    width: 100%;
    margin-bottom: 20px;
    list-style-type: disc;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0px;
    padding-right: 15px;
    /* border: 1px solid black;     */
}

#help-contact {
    width: 100%;
    margin-bottom: 20px;
    list-style-type: disc;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0px;
    padding-right: 15px;
    /* border: 1px solid black;     */
}

#news-press {
    width: 100%;
    margin-bottom: 20px;
    list-style-type: disc;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0px;
    padding-right: 15px;
    /* border: 1px solid black;     */
}

#dvc-member {
    width: 100%;
    margin-bottom: 20px;
    list-style-type: disc;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0px;
    padding-right: 15px;
    /* border: 1px solid black;     */
}

li {
    line-height: 20px;
    font-size: 12px;
    margin-top: 0px;
    margin-bottom: 6px;
    list-style: none;
}

li a {
    text-decoration: none;
    color: black;;
}

li a:hover {
    text-decoration: underline;
}

.footer-info {
    width: 70%;
    margin-bottom:6px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

div h2 {
    font-size: 14px;
    line-height: 20px;
    padding-bottom: 6px;
    font-weight: 550;
}

.list {
    float: left;
    padding: 0 15px;
    width: 25%;
    text-align: left;
    margin: 19px 0 0;
    font-weight: 400;
    vertical-align: baseline;
}

.assistance {
    text-align: center;
    position: relative;
    background-color: #fff;
    padding: 30px;
}


.assistance::before,
.assistance::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    width: 60%;
    background: linear-gradient(to right, transparent, #D0D7DE, transparent);
}

.assistance::before {
    top: 0;
}

.assistance::after {
    bottom: 0;
}

.assistance p {
    line-height: 1.2;
}

.call-18 {
    font-size: 12px;
    margin-top: 10px;
}
.disclaimer {
    text-align: center;
    display: block;
    max-width: 40%;
    margin: 0 auto;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.disclaimer h3 {
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.disclaimer img {
    max-width: 100%;
    height: auto;
}

.disclaimer p {
    font-size: 13px;
    word-spacing: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.disclaimer::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    width: 60%;
    background: linear-gradient(to right, transparent, #D0D7DE, transparent);
}


.footer-banner {
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;
    max-width: 50%;
    width: 100%;
    max-height: 150px;
    padding: 0 15px; 
    margin: 0 auto;
    border: 1px solid #d1d1d1;  
    background-color: rgb(238, 251, 255);
}

.column {
    width: 25%; 
    padding: 20px;
    align-items: center;
}

.column h3 {
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.connected {
    padding-bottom: 20px;
}

.connected h3 {
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 8px;
}


.connected img {
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

.youtube {
    display: flex;
    flex-direction: row;
}

.blog {
    display: flex;
    flex-direction: row;
}

.key-to-magic {
    padding-top: 35px;
}

.key-to-magic p {
    font-size: 12px;
}

.key-to-magic-img {
    display: flex;
    flex-direction: row;
    margin: 10px 10px;
}

.key-to-magic-img img {
    margin-right: 10px;
}

.req-keys {
    margin-left: 30px;
    margin-bottom: 20px;
}

.req-info {
    padding-bottom: 8px;
}

.req-info p {
    font-size: 12px;
    padding-bottom: 10px;
}