* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navbar {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    justify-content: center;
}

.navbar-logo img {
    float: left;
    max-width: 125px;
    height: auto;
    padding-top: 10px;
}

.navbar ul {
    padding: 0;
    display: flex; 
}

.navbar li {
    list-style: none;
    display: inline;
    flex-direction: row;
    text-align: center;
    margin-right: 10px;
    padding: 0 10px;
    margin-left: 10px;
}




.first-content-img {
    background-image: url("./images/riviera.avif");
    height: 600px;
    width: 100%;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.first-content-text h1 {
   font-size: 50px;
    color: white;
    text-align: center;
    padding-top: 150px;
}

.first-content-text p {
    font-size: 20px;
    color: #0079bc;
    text-align: center;
    padding-top: 20px;
}

.second-content {
    display: flex;
    justify-content: center;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    height: 150px;
    font-size:large;
    box-sizing: border-box;
    border: 1px solid rgb(211, 211, 211);
    align-items: center;
   text-align: center;
   background-color: rgb(238, 251, 255);
}

.key-image {
    height: 125px;
}

.flex-container {
    display: flex;
    margin: zero;
}

.flex-child {
    /* flex: 1; */
    padding: 0px;
    /* border: 1px black solid; */
}



.text-content {
    text-align: center;
}

.text-content h1 {
    margin: 0;
    font-size: 1.5em; 
}

.text-content p {
    margin: 0;
    font-size: 1em; 
}


.goofy {
    height: 400px;
    width: 800px;
}


.father {
    max-height: 400px;
    width: 400px;
}

.epcot {
    max-height: 400px;
    width: 400px;
}

.img-responsive {
    max-width: 100%;
    height: 100%;
}

.bottom-content .flex-child {
    flex: 1;
}

.bottom-content {
    align-items: center;
    text-align: center;
    max-height: 400px;
}

.explore {

}

.save-content {
    background-image: url("./images/donald.avif");
    height: 350px;
    width: 100%;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    margin-bottom: 20px;
}

.save-content-text {
    padding-top: 100px;
    padding-left: 70px;
    font-size: 24px;
    margin-bottom: 20px;
}

.save-content-text h1 {
    font-size: 50px;
    color: white;
    margin-top: 10px;
}

.save-content-text ul {
    padding: 0;
    margin: 0;
    margin-top: 10px;
}

.save-content-text li {
    list-style: none;
    color: white;
}

.sweepstakes-content {
    background-image: url("./images/cinderella.avif");
    height: 375px;
    width: 100%;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    margin-bottom: 20px;
}

.sweepstakes-content-text {
    padding-top: 75px;
    padding-left: 70px;
    font-size: 24px;
    margin-bottom: 20px;
}

.sweepstakes-content-text h1 {
    font-size: 50px;
    color: white;
    margin-top: 10px;
}

.sweepstakes-content-text ul {
    padding: 0;
    margin: 0;
    margin-top: 10px;
}   

.sweepstakes-content-text li {
    list-style: none;
    color: white;
}

.benefits-header {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.vacation-options {
    display: grid;
    grid-template-columns: 1fr; /* One column for all four images */
    grid-template-rows: auto auto auto; /* Three rows for the bottom images */
    gap: 0; /* No gap between grid items */
    justify-items: center; /* Center items horizontally */
    align-items: start; /* Align items to the top */

}

.vacation{
    background-image: url("./images/DVC-Homepage-Map.avif");
    background-size: cover;
    background-position: center;
    height: 500px; 
    width: 60%;
    margin: auto;
}

.vaca {
    width: 100%;
    margin: auto;
    justify-content: center;
}


.bottom-images {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 0; 
    width: 60%; 
  }
  

.events,
.magic,
.discover {
  background-size: cover;
  background-position: center;
  height: 400px; 
  width: 100%;
  color: white;
  font-size: 24px;
  padding-top: 20px;
  padding-left: 20px;
}

.events {
    background-image: url("./images/pixar-pier-night-1x1-1.avif");
}

.magic {
    background-image: url("./images/star-wars-galaxys-edge-1x1.avif");
}

.discover {
    background-image: url("./images/familyreading.avif");
}

.disneyplus {
    display: flex;
    align-items: center;
    justify-content: center;
}

.villa-header {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 10px;
}

.villa-sub-header {
    text-align: center;
    margin-top: 20px;
    text-decoration: none;
}

.villa-info {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    max-width: 1450px;
    max-height: 450px;
  }
  
  .villa-content {
    padding: 20px;
    max-width: 35%;
    background-color: #563a6a;
    color: #fff; 
  }
  
  .villa-content h3 {
    font-size: 28px;
    margin-top: 50px;
    padding-left: 55px;
  }

.villa-content p {
    font-size: 20px;
    padding-left: 55px;
    line-height: 28px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.villa-button {
    border: 2px solid #fff;
    background-color: inherit;
    color: #fff;
    padding: 13px 25px;
    margin-left: 55px;
    font-size: 14px;
    cursor: pointer;
    margin-bottom: 10px;
    font-weight: 600;
    border-radius: 2px;
}

.villa-button:hover {
    text-decoration: underline;
}

  .villa-image {
    overflow: hidden; 
    width: 70%;
  }
  
  .villa-image img {
    width: 100%;
    height: auto; 
    display: block; 
  }

.from-our-members {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 10px;
}

div {
    display: block;
}

.info-content {
    border: 5px solid #0079bc;
    box-sizing: border-box;
    width: 75%;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    /* display: flex; */
    
}

@media screen and (max-width: 767px) {
}





